* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.html {
    scroll-behavior: smooth;
    display: block;
}
.body {
    margin: 0px;
    padding: 0px;
}

.parallax {
    /* The image used */
    background-image: url("../asset/parallax.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2), inset 0 0 0 1000px rgba(0,0,0,.2);
    /* Set a specific height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  }

.menu {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px;
    align-self: stretch;
}
  .fa-instagram {  
    color: white; 
    transition: all .2s ease-in-out; 
  }  

#links, #banner p, #hed {
    color: white;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    transition: all .3s ease-in-out;
}
#submenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#submenu a {
    padding-right: 75px;
}
#banner {
    min-height: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}
#banner img {
    width: 40vw;
    transition: all .4s ease-in-out;
    
}
#banner p {
    padding: 30px;
    text-align: center;
}
#logo {
    width: 40vw;
    text-align: center;
}
:root {
  --mainColor: #f4dbdb;
  --mainColor2: white;
}

#links::after {
    display: flex;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color:#f4dbdb;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  #links:hover::after,
  #links:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  #links:hover {
    color:	#f4dbdb;
    transform: scale(1.02);
  }
  .fa:hover {
      color: 	#f4dbdb;
      transform: scale(1.10);
  }
 
 #learn {
    width: 250px;
    padding: 10px;
    margin-top: 100px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background:
    linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 5 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    text-decoration: none;
    transition: all .4s;

}

 #learn:hover {
     color: black;
     border-color: #f4dbdb;
     background-size: 4px 50px;
     border-color: rgba(255, 255, 255, 0);
     transform: scale(1.05);
} 
#banner img:hover {
    transform: scale(1.02);
}

.about {
    width: 100%;
    min-height: 500px;
    background-color: #d9cbc0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

:root {
	--primary: #f4dbdb;
	--secondary: white;
	--third: #f4dbdb;
}

.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
 animation: morph 8s ease-in-out infinite;
 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 height: 300px;
 transition: all 4s ease-in-out;
 width: 300px;
 z-index: 5;
 display: flex;
 justify-content: center;
 overflow: hidden;
 padding-top: 30px;
}

@keyframes morph {
 0% {
           border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
   
   50% {
           border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
           background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
   }
 
   100% {
       border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
       background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
}

.shape:hover {
    animation-play-state: paused;
}

#lera {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    
}
#lera2 {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
}
.bio {
    padding: 50px;
    width: 650px;
    padding-bottom: 70px;
}

.bio h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5vh;
    color: black;
    opacity: 80%;
}
.bio h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: black;
    opacity: 80%;
}
.bio p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    opacity: 80%;
    padding-top: 30px;
}

#instabut {
    display: inline-block;
    margin-top: 35px;
    justify-content: center;
    padding: 10px;
    width: 200px;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background:
    linear-gradient(
      to bottom, var(--mainColor2) 0%,
      var(--mainColor2) 100%
    );
    background-position: 0 5 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    text-decoration: none;
    transition: all .4s;

}

 #instabut:hover {
     color: black;
     border-color: white;
     background-size: 4px 50px;
     border-color: rgba(255, 255, 255, 0);
     transform: scale(1.0);
} 

#instabut span {
    color: black;
    padding-right: 10px;
}

.hey {
    width: 100%;
    min-height: 450px;
    background: linear-gradient(white, #d9cbc0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 90px;
}
.hey h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 4vh;
    color: black;
    opacity: 80%;
}

#ques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#ques h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5vh;
    color: black;
    padding: 15px;
}

.hey p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
#memo {
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.hidden {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
    animation-play-state: paused;
}
.hidden2 {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
}

.hidd {
    animation-duration: 3s;
    animation-name: slideon;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
    animation-play-state: paused;
}
.hidd2 {
    animation-duration: 3s;
    animation-name: slideon;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
}


@keyframes slidein {
    0% { opacity: 0;  }
    25%,75%  { opacity: 0.8; }
    100% { opacity: 0.8; }
}

@keyframes slideon {
    0% { opacity: 0; transform: scale(0.5); }
    25%,75%  { opacity: 0.8; transform: scale(1); }
    100% { opacity: 0.8; transform: scale(1);}
}

.animate-delay-1 { animation-delay: 0.7s;}
.animate-delay-2 { animation-delay: 1.4s;}
.animate-delay-3 { animation-delay: 2.1s;}
.animate-delay-4 { animation-delay: 2.7s;}
 

/* https://nicepage.com/ru/c/otzyvy-html-shablony
https://nicepage.com/ru/html-templates/preview/chto-govoryat-o-nas-polzovateli-372297?device=desktop */


.benefits {
    width: 100%;
    min-height: 500px;
     background-image: url("../asset/photo1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3), inset 0 0 0 1000px rgba(0,0,0,.2);
    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.benefits h1 {
    padding: 60px;
    opacity: 95%;
     font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.postben {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
}

.benefits h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 40px;
    opacity: 95%;
}

.daudz {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .6s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' opacity='0.9' stroke-width='1.2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 6%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

/* THIS IS REVIEW CONTAINER */

.review {
    width: 100%;
    min-height: 500px;
     background-image: url("../asset/photo2.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

/* THIS IS FOR MOBILE */

@media screen and (min-width: 0px) and (max-width: 950px) {
    .menu { display: none; }  
    #banner {
        padding-left: 0px;
        min-height: 100%;
    }
    .parallax {
        align-items: stretch;
        background-position: 80%;
        
    }
    #banner img {
        width: 70vw;
    }
    #logo {
        width: 70vw;
    }
    .bio {
        text-align: center;
    }
    .bio h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .about {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    
        
    #ques {
        flex-direction: column;
    }
   
  }