* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.html {
    scroll-behavior: smooth;
    display: block;
}
::selection {
  background-color: #f4dbdbc2;
}

.body {
    margin: 0px;
    padding: 0px;
}

.parallax {
    /* The image used */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../asset/parallax.jpg');
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  }

.menu {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px;
    align-self: stretch;
}
  .fa-instagram {  
    color: white; 
    transition: all .2s ease-in-out; 
  }  

#links, #banner p, #hed {
    color: white;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    transition: all .3s ease-in-out; 
}
#links, #banner {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#submenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 500ms;
}
#submenu a {
    padding-right: 75px;
    color: white;
}
#banner {
    min-height: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    transition: 500ms;
}
.bannerimg {
    width: 40vw;
    transition: all .4s ease-in-out;
    
}
#banner p {
    padding: 30px;
    text-align: center;
}
#logo {
    width: 40vw;
    text-align: center;
}
:root {
  --mainColor: #f4dbdb;
  --mainColor2: white;
  --mainColor3: #d9cbc0;
}

#links::after {
    display: flex;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color:#f4dbdb;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  #links:hover::after,
  #links:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  #links:hover {
    color:	#f4dbdb;
    transform: scale(1.02);
  }
  #submenu a:hover {
      color: 	#f4dbdb;
      transform: scale(1.10);
  }
 
 #learn {
    width: 250px;
    padding: 10px;
    margin-top: 100px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background:
    linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 5 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    text-decoration: none;
    transition: all .4s;

}

 #learn:hover {
     color: black;
     border-color: #f4dbdb;
     background-size: 4px 50px;
     border-color: rgba(255, 255, 255, 0);
     transform: scale(1.05);
} 
#banner img:hover {
    transform: scale(1.02);
}

.about {
    width: 100%;
    min-height: 500px;
    background-color: #d9cbc0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

:root {
	--primary: #f4dbdb;
	--secondary: white;
	--third: #f4dbdb;
    --swiper-theme-color:  white    !important;
}

.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
 animation: morph 8s ease-in-out infinite;
 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 height: 300px;
 transition: all 4s ease-in-out;
 width: 300px;
 z-index: 5;
 display: flex;
 justify-content: center;
 overflow: hidden;
 padding-top: 30px;
}

@keyframes morph {
 0% {
           border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
   
   50% {
           border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
           background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
   }
 
   100% {
       border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
       background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
}

.shape:hover {
    animation-play-state: paused;
}

#lera {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    
}
#lera2 {
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
}
.bio {
    padding: 50px;
    width: 650px;
    padding-bottom: 70px;
}

.bio h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5vh;
    color: black;
    opacity: 80%;
}
.bio h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: black;
    opacity: 80%;
}
.bio p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    opacity: 80%;
    padding-top: 30px;
}

#instabut {
    display: inline-block;
    margin-top: 35px;
    justify-content: center;
    padding: 10px;
    width: 200px;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background:
    linear-gradient(
      to bottom, var(--mainColor2) 0%,
      var(--mainColor2) 100%
    );
    background-position: 0 5 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    text-decoration: none;
    transition: all .4s;

}

 #instabut:hover {
     color: black;
     border-color: white;
     background-size: 4px 50px;
     border-color: rgba(255, 255, 255, 0);
     transform: scale(1.0);
} 

#instabut span {
    color: black;
    padding-right: 10px;
}

.hey {
    width: 100%;
    min-height: 450px;
    background: linear-gradient(white, #d9cbc0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 90px;
}
.hey h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 4vh;
    color: black;
    opacity: 80%;
}

#ques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#ques h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5vh;
    color: black;
    padding: 15px;
}

.hey p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
#memo {
    font-weight: 800;
    font-size: 25px;
    color: black;
}

.hidden {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
    animation-play-state: paused;
}
.hidden2 {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
}

.hidd {
    animation-duration: 3s;
    animation-name: slideon;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
    animation-play-state: paused;
}
.hidd2 {
    animation-duration: 3s;
    animation-name: slideon;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards; 
    transition: all .4s; 
}


@keyframes slidein {
    0% { opacity: 0;  }
    25%,75%  { opacity: 0.8; }
    100% { opacity: 0.8; }
}

@keyframes slideon {
    0% { opacity: 0; transform: scale(0.5); }
    25%,75%  { opacity: 0.8; transform: scale(1); }
    100% { opacity: 0.8; transform: scale(1);}
}

.animate-delay-1 { animation-delay: 0.7s;}
.animate-delay-2 { animation-delay: 1.4s;}
.animate-delay-3 { animation-delay: 2.1s;}
.animate-delay-4 { animation-delay: 2.7s;}
 

/* https://nicepage.com/ru/c/otzyvy-html-shablony
https://nicepage.com/ru/html-templates/preview/chto-govoryat-o-nas-polzovateli-372297?device=desktop */


.benefits {
    width: 100%;
    min-height: 500px;
     background-image: url("../asset/photo1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3), inset 0 0 0 1000px rgba(0,0,0,.2);
    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.ben {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ben:hover {
    transform: scale(1.01);
    transition: 500ms;
}

.shapethree {
 animation: morph4 8s ease-in-out infinite;
 border-radius: 40% 30% 60% 70%;
 height: 200px;
 transition: all 8s ease-in-out;
 width: 200px;
 overflow: hidden;
 box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
}
.shapefour {
 animation: morph2 8s ease-in-out infinite;
 border-radius:  40% 30% 60% 70%;
 height: 200px;
 transition: all 8s ease-in-out;
 width: 200px;
 overflow: hidden;
 box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
}
.shapefive {
 animation: morph3 8s ease-in-out infinite;
 border-radius: 40% 30% 60% 70%;
 height: 200px;
 transition: all 8s ease-in-out;
 width: 200px;
 overflow: hidden;
 box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 2px 2px 109px 0px rgba(255,255,255,0.75);
}

.firstph {
      background-image: url("../asset/image1.jpg");
      background-size: 200px;
}
.secondph {
      background-image: url("../asset/image2.jpg");
      background-size: 200px;
}
.thirdph {
      background-image: url("../asset/image3.jpg");
      background-size: 200px;
}


@keyframes morph3 {
 0% {
           border-radius:   70% 70% 60% 70% / 50% 60% 40% 60%;
   } 
   
   50% {
           border-radius:  50% 60% 40% 60% / 70% 40% 70% 70%;
   }
 
   100% {
    border-radius:   70% 70% 60% 70% / 50% 60% 40% 60%;
   } 
}
@keyframes morph4 {
 0% {
           border-radius:   60% 40% 60% 70% / 60% 40% 70% 40%; 
   } 
   
   50% {
           border-radius:   50% 60% 70% 60% / 40% 60% 70% 40% ;
   }
 
   100% {
    border-radius:   60% 40% 60% 70% / 60% 40% 70% 40%; 
   } 
}

.benefits h1 {
    padding: 60px;
    opacity: 95%;
     font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.postben {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
}

.benefits h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 40px;
    opacity: 95%;
}

.daudz {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .6s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' opacity='0.9' stroke-width='1.2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 6%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

/* THIS IS REVIEW CONTAINER */

.review {
    width: 100%;
    min-height: 500px;
     background-image: url("../asset/unsplash_stil.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.review h1 {
    font-family: 'Playfair Display', serif;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4vh;
    padding-bottom: 20px;
}

.slider {
  width: 100%;
  padding: 20px;
}

.swiper-container {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper {
    width: 90%  !important;
    display: flex;
    margin-left: -10%;
    cursor: default !important;
}
.swiper-pagination-bullet-active {
    color: white   !important;
}

         
            .swiper-slide  {
                display: flex !important;
                justify-content: center;
                align-items: center;
            }
          

 .swiper-pagination, .swiper-button-next, .swiper-button-prev {
     position: unset !important;
    
 }
 .swiper-button-next, .swiper-button-prev {
     color: white   !important;
     
     
 }

.card  {  
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    transition: 600ms;
}

.cardinside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    padding: 30px;
}
.cardinside img {
    vertical-align: middle;
    margin-left: 5px;
}

.swiper-pagination {
    padding-top: 0px;
}


.swiper-slide-prev, .swiper-slide-next {
    transition: opacity 2s !important;  
    opacity: 0 !important;
}

.revph {
    width: 300px;
    height: 300px;
    border-radius: 49%;

}
.card p {
    max-width: 600px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    opacity: 80%;   
}

.card h2 {
    padding-top: 30px;
    opacity: 95%;
     font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.shapetwo {
 animation: morph2 8s ease-in-out infinite;
 border-radius: 40% 30% 60% 70%;
 height: 300px;
 transition: all 8s ease-in-out;
 width: 300px;
 display: flex;
 overflow: hidden;
 box-shadow: 2px 2px 75px 0px rgba(255,255,255,0.5);
-webkit-box-shadow: 2px 2px 75px 0px rgba(255,255,255,0.5);
-moz-box-shadow: 2px 2px 75px 0px rgba(255,255,255,0.5);
}
.revone {
    background-image: url("../asset/image4.jpg");
}
.revtwo {
    background-image: url("../asset/IMG_4821.JPG");
    background-size: 300px;
}
.revthree {
    background-image: url("../asset/IMG_1590.jpg");
    background-size: 300px;
}

@keyframes morph2 {
 0% {
           border-radius:   40% 60% 70% 40% / 50% 60% 40% 60%;
   } 
   
   50% {
           border-radius:  60% 40% 40% 70% / 60% 40% 70% 40%;  
   }
 
   100% {
    border-radius:   40% 60% 70% 40% / 50% 60% 40% 60%;
   } 
}

/* */

.cityname {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin-right: 15px;
    padding: 6px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.400);
    transition: 300ms;
}


/* */ 


.fa-at {
    padding-right: 3px;
}
.card h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    
}
.fa-at:hover, .fa-map-marker:hover {
    color: white;
     transform: scale(1.0);
}

.fa:hover {
     transform: scale(1.0);
}

/* SLIDER END*/

.foorm {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    padding: 25px;
}

#ques h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ques img {
    margin-left: 10px;
}


/* Form design */
form span {
font-size: 20px;
}

form {
    padding-top: 25px;
    width: 614px;
    max-width: calc(100%-60px);
}
form img {
    vertical-align: middle;
    margin-left: 4px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.form-element span {
    margin-bottom: 10px;
    color: #f4dbdb;
}

input {
    height: 50px;
}
textarea {
    height: 200px;
}

input, textarea {
    border: none;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color:  rgba(255, 255, 255, 0.95);;
}

form button {
    width: 100%;
    padding: 15px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background:
    linear-gradient(
      to bottom, var(--mainColor3) 0%,
      var(--mainColor3) 100%
    );
    background-position: 0 5 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;
}

form button:hover {
     color: black;
     border-color: #d9cbc0;
     background-size: 4px 60px;
     border-color: rgba(255, 255, 255, 0);
     transform: scale(1.0);
} 


form h1 {
    font-family: 'Playfair Display', serif;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4vh;
}

form ::placeholder {
    opacity: 40%;
}

form p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
form b {
    color: rgba(255, 255, 255, 0.9);
}


#formdone {
    width: 100%;
    padding: 15px;
    color: #d9cbc0;
    border-color: #d9cbc0;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all .4s;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    display: none;
}

/* Footer */

.footer {
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    padding-top: 35px;
}
.footerInside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer h3 {
    font-family: 'Playfair Display', serif;
}
.footer span {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
.footer p {
    color: #f4dbdb;
}
.footer a {
    width: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
.footer a:hover {
    color: #f4dbdb;
}
.footer i {
    padding-right: 10px;
}
#copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #f4dbdb91;
}
.footer small {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.footer small a {
    color: #f4dbdb91;
    width: auto;
}
#creator:hover {
    color: white;
    transition: 500ms;
    cursor: pointer;
}
#formdone img {
    margin-left: 5px;
}



/* THIS IS FOR MOBILE */

@media screen and (min-width: 0px) and (max-width: 950px) {
    .menu { display: none; }  
    #banner {
        padding-left: 0px;
        min-height: 100%;
    }
    .parallax {
        align-items: stretch;
        background-position: 80%;
        background-size: cover;
        background-attachment: scroll;
    }
.benefits {
background-attachment: scroll;
}
.review {
background-attachment: scroll;
}
    .bannerimg {
        width: 70vw;
    }
    #logo {
        width: 70vw;
    }
    .bio {
        text-align: center;
    }
    .bio h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .about {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    
    .card h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}
    .cityname {
        margin: 5px;
    }
        
    #ques {
        flex-direction: column;
    }
     .swiper-button-next, .swiper-button-prev {
         display: none !important;
     }  
     
     form h1 {
         font-size: 3.5vh;
     }
     .footerInside {
         padding-bottom: 40px;
     }
  }

  @media screen and (min-width: 950px) and (max-width: 1200px) {
  .swiper-button-next, .swiper-button-prev {
         display: none !important;
     }  
}